#Ignore all other files
*

#Ignore dropbox files
*.dropbox

#Whitelist main webpage files
!index.html
!style.css
!site.webmanifest
!scripts/
!scripts/*

#Whitelist /images /files and /nonlistening redirect
!images/
!images/*
!files/
!files/*
!nonlistening/
!nonlistening/*
!.gitignore

#Whitelist daily200words graphics
!daily200words/
!daily200words/*
!daily200words/*/*