/*General stuff*/
html {
  background-color: #237;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #111; /*Not quite black*/
  font-family: "Tahoma", "Arial", sans-serif;
}
.content {
  background-color: white;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  /*width: 90%;*/
}
/*Normal links plain except text-link class*/
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
.text-link:link {
  color: #29B;
  text-decoration: underline;
}
.text-link:visited {
  color: #237;
  text-decoration: underline;
}

header, footer {
  align-items: flex-end;
  background-color: #237;
  color: #FFF;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/*Header section*/
header h1 {
  font-family: "Verdana", "Arial", sans-serif;
}
h2 {
  font-weight: normal;
}
.profile-image {
  margin: 1.5em 0.75em 1.5em 0.75em;
  max-width: 250px;
  width: 30%;
}
.profile-content {
  margin: -2em 0.75em 0.25em 0.75em;
}
.headshot {
  border-radius: 0.3em;
  width: 100%;
}
.profile-resume {
  display: flex;
  flex-flow: row wrap;
  font-size: 0.6em;
  justify-content: flex-start;
}
.preview-resume-button,
.download-resume-button {
  align-items: center;
  background-color: #29B;
  border-radius: 0.15em;
  display: flex;
  justify-content: center;
  margin-right: auto;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-align: center;
  width: 45%;
}
.button-main {
  font-size: 1.2em;
}
.button-aside {
  font-size: 0.7em;
}
.download-resume-button .button-main {
  font-weight: bold;
}

/*About Me and Project Sections*/
.about-me, .projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
article h1 {
  font-size: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 1.0em;
}
.about-me .about-text {
  width: 90%;
}
.major-projects .project {
  width: 90%;
}
.mini-projects .project {
  width: 40%;
}
.project-img {
  width: 100%;
}

h3 { /*Heading bars*/
  background-color: #29B;
  border-radius: 0.15em;
  color: #FFF;
  font-size: 1.5em;
  margin: 1em 0 0.5em 0;
  padding: 0.75em;
  text-align: center;
  width: 100%; /*Takes up full width in projects*/
}

footer p {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
footer .footerlink:link {
  text-decoration: underline;
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .content {
    display: flex;
    justify-content: space-between;
  }
  .about-me {
    align-content: flex-start;
    width: 35%;
  }
  .about-me h3 {
    background-color: #237;
  }
  .project-sections h3 {
    background-color: #29B;
  }
  .project-sections {
    width: 60%;
  }
}
